.borderTable{
    border: 2px solid black;
    width: 50%;
    height: 85%;
    border-radius: 10px;
}

.heading{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.backicon{
    font-size: 30px;
    cursor: pointer;
}

.order{
    font-size: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}